# Task10:
1)using while loop print numbers from 10 to 1

In [1]:
#using while loop print numbers from 10 to 1
count=10
print("numbers from 10 to 1 in reverse order:")
while(count>0):
    print(count)
    count=count-1

numbers from 10 to 1 in reverse order:
10
9
8
7
6
5
4
3
2
1

2)try using for loop to loop over list,tuples,sets and dictionaries

# List:

In [2]:
#using list and for loop multiplying the numbers with 2 and printing from 1 to 20
list1=[]
for i in range(1,21):
    list1.append(i*2)
print("multiplying the numbers with 2:",list1)

multiplying the numbers with 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [3]:
#list Comprehension:It is very easy and compact way of creating list objects from any iterable objects 
s1= [x*2 for x in range(21)]
print(s1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

# Tuple:

In [4]:
#using for loop and ptinting tuple objects one by one
tupleObj = ('vamsi', 2, 'Hyderabad', 22.12)
for ele in tupleObj:
    print(ele)

vamsi
2
Hyderabad
22.12

In [5]:
#program to print 0 to 29 number using for loop and tuple
tuple1=list()
for ele in range(30):
    tuple1.append(ele)
print("tuple:",tuple(tuple1))

tuple: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29)

note:tuple Comprehension is not supported in python

## sets:

In [6]:
#Loop through the set, and print the values:
set1 = {"vamsi", "sai", "python"}
for x in set1:
  print(x)

vamsi
python
sai

In [7]:
#program to print cubes of given numbers from 0 to 4 using sets and for loop
s1=set()
for i in range(0,5):
    s1.add(i**3)
print(s1)

{0, 1, 64, 8, 27}

In [8]:
#set Comprehension:
s1= {x**3 for x in range(5)}
print (s1)

{0, 1, 64, 8, 27}

## dictionary:

In [9]:
#program to print sqaures of given numbers from 0 to 4 using dict and for loop
dict1={}
for i in range(1,10):
    dict1[i]=i**2
print("squares:",dict1)

squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [10]:
#Dictionary Comprehension:
squares={x:x**2 for x in range(1,10)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}