In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\91863\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\91863\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\91863\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\91863\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\91863\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

In [2]:
import pandas as pd

In [25]:
players=["Virat Kohli","Rohit Sharma","babar azam","ross taylor","aaron finch","du plessis","David Warner","kane williamson","de kock","jonny bairstow"]
number=[1,2,3,4,5,6,7,8,9,10]
Team=["IND","IND","PAK","NZ","AUS","SA","AUS","NZ","SA","ENG"]
data={"Team":Team,"Player":players,"ranking":number}
indexes=[1,2,3,4,5,6,7,8,9,10]
df=pd.DataFrame(data,index=indexes)
df

   Team           Player  ranking
1   IND      virat kohli        1
2   IND     rohit sharma        2
3   PAK       babar azam        3
4    NZ      ross taylor        4
5   AUS      aaron finch        5
6    SA       du plessis        6
7   AUS     David Warner        7
8    NZ  kane williamson        8
9    SA          de kock        9
10  ENG   jonny bairstow       10

In [27]:
#acessing 3rd and 5th odi ranking players
ranking = df.iloc[[2,4]]
ranking

  Team       Player  ranking
3  PAK   babar azam        3
5  AUS  aaron finch        5

In [24]:
#accesing last 6 odi ranking players using reverse index
result=df.iloc[:3:-1]
result

  Team           Player  ODI ranking
9  ENG   jonny bairstow           10
8   SA          de kock            9
7   NZ  kane williamson            8
6  AUS     David Warner            7
5   SA       du plessis            6
4  AUS      aaron finch            5