## To create a dictionary with 10 elements and accessing 3rd and 4th elements and print last 6 elements using reverse indexing

In [ ]:
!pip install pandas

In [2]:
import pandas as pd

In [3]:
players=["Virat Kohli","Rohit Sharma","Babar Azam","Ross Taylor","Aaron Finch","Du Plessis","David Warner","kane Williamson","De Kock","Jonny Bairstow"]
number=[1,2,3,4,5,6,7,8,9,10]
Team=["IND","IND","PAK","NZ","AUS","SA","AUS","NZ","SA","ENG"]
data={"Team":Team,"Player":players,"ranking":number}
indexes=[1,2,3,4,5,6,7,8,9,10]
df=pd.DataFrame(data,index=indexes)
df

   Team           Player  ranking
1   IND      Virat Kohli        1
2   IND     Rohit Sharma        2
3   PAK       Babar Azam        3
4    NZ      Ross Taylor        4
5   AUS      Aaron Finch        5
6    SA       Du Plessis        6
7   AUS     David Warner        7
8    NZ  kane Williamson        8
9    SA          De Kock        9
10  ENG   Jonny Bairstow       10

In [4]:
#acessing 3rd and 5th odi ranking players
ranking = df.iloc[[2,4]]
ranking

  Team       Player  ranking
3  PAK   Babar Azam        3
5  AUS  Aaron Finch        5

In [5]:
#accesing last 6 odi ranking players using reverse index
result=df.iloc[:3:-1]
result

   Team           Player  ranking
10  ENG   Jonny Bairstow       10
9    SA          De Kock        9
8    NZ  kane Williamson        8
7   AUS     David Warner        7
6    SA       Du Plessis        6
5   AUS      Aaron Finch        5